# Airthematic Operation in Pandas

In [3]:
import pandas as pd 
var = pd.DataFrame({"A":[1,2,3,4] , "B" :[5,6,7,8]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [4]:
var["C"] = var["A"]+ var['B']
print(var)

   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [5]:
var["C"] = var["A"]- var['B']
print(var)

   A  B  C
0  1  5 -4
1  2  6 -4
2  3  7 -4
3  4  8 -4

In [6]:
var["D"] = var["A"]/ var['B']
print(var)

   A  B  C         D
0  1  5 -4  0.200000
1  2  6 -4  0.333333
2  3  7 -4  0.428571
3  4  8 -4  0.500000

In [16]:
var = pd.DataFrame({"A":[10,20,30,40] , "B" :[50,60,70,80]})

var["Python"] = var["A"] >20 
var["Python1"] = var["B"]>20




var

    A   B  Python  Python1
0  10  50   False     True
1  20  60   False     True
2  30  70    True     True
3  40  80    True     True