In [7]:
import pandas as pd 

csv = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv" )
csv

        Time                       Name      Year Branch    Score  Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20   NaN
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28                Komal Koli   2nd year     AI   Oct-20  17.0
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20   NaN
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20   NaN
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20   NaN
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
31       NaN                        NaN       NaN    NaN      NaN   NaN
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20  33.0
33  20:45:22                        SAK  3rd year    CSE   Feb-20   NaN
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [4]:
# csv.dropna(axis=0)
# csv.dropna(axis=1)
import pandas as pd
csv = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv" )
csv

        Time                       Name      Year Branch    Score  Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20   NaN
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28                Komal Koli   2nd year     AI   Oct-20  17.0
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20   NaN
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20   NaN
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20   NaN
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
31       NaN                        NaN       NaN    NaN      NaN   NaN
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20  33.0
33  20:45:22                        SAK  3rd year    CSE   Feb-20   NaN
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [13]:
csv.dropna(how="all") # when all row element is NAN

csv.dropna(how="any") #when any one element is NAN

        Time                      Name      Year Branch    Score  Rank
0   20:53:27      Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13     Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53              Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43               Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01          Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06        Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00    Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21            Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03         Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38              Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20        Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13        Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
13  20:46:43             Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23               Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28            Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28               Komal Koli   2nd year     AI   Oct-20  17.0
18  21:03:39       Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36  Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
21  20:39:09      Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13         Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34   Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03          Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
26  20:43:23              Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48             Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03           Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24    ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36   Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
32  21:00:28              Yash Dharmik  2nd year    CSE   Apr-20  33.0
34  21:03:29     Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [14]:
csv.dropna(subset=["Rank"]) # remove the value in the perticular column

        Time                      Name      Year Branch    Score  Rank
0   20:53:27      Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13     Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53              Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43               Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01          Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06        Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00    Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21            Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03         Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38              Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20        Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13        Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
13  20:46:43             Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23               Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28            Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28               Komal Koli   2nd year     AI   Oct-20  17.0
18  21:03:39       Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36  Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
21  20:39:09      Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13         Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34   Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03          Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
26  20:43:23              Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48             Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03           Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24    ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36   Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
32  21:00:28              Yash Dharmik  2nd year    CSE   Apr-20  33.0
34  21:03:29     Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [16]:

csv = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv" )


csv.dropna(inplace=True)
csv

        Time                      Name      Year Branch    Score  Rank
0   20:53:27      Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13     Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53              Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43               Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01          Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06        Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00    Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21            Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03         Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38              Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20        Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13        Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
13  20:46:43             Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23               Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28            Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28               Komal Koli   2nd year     AI   Oct-20  17.0
18  21:03:39       Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36  Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
21  20:39:09      Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13         Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34   Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03          Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
26  20:43:23              Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48             Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03           Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24    ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36   Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
32  21:00:28              Yash Dharmik  2nd year    CSE   Apr-20  33.0
34  21:03:29     Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [5]:
csv = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv" )
csv.dropna(thresh=1) # jiske undar single NAN value hai vahi delete ho jayengi

        Time                       Name      Year Branch    Score  Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20   NaN
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28                Komal Koli   2nd year     AI   Oct-20  17.0
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20   NaN
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20   NaN
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20   NaN
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20  33.0
33  20:45:22                        SAK  3rd year    CSE   Feb-20   NaN
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

# Fillana

In [22]:
csv = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv" )
# csv.fillna("no Value") #change all NAN value into given statement
csv.fillna({"Time":"8:32:19" , "Name":"Harish Hedau" , "Year":"3rd year" , "Branch":"CSE" , "Score":"10/20" , "Rank":22}) #change the NAN value according to column

        Time                       Name      Year Branch    Score  Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20  22.0
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28                Komal Koli   2nd year     AI   Oct-20  17.0
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20  22.0
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20  22.0
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20  22.0
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
31   8:32:19               Harish Hedau  3rd year    CSE    10/20  22.0
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20  33.0
33  20:45:22                        SAK  3rd year    CSE   Feb-20  22.0
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [24]:
csv = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv" )

csv.fillna(method="ffill")
csv.fillna(method="bfill")

        Time                       Name      Year Branch    Score  Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20  14.0
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28                Komal Koli   2nd year     AI   Oct-20  17.0
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20  19.0
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20  22.0
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20  27.0
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
31  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20  33.0
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20  33.0
33  20:45:22                        SAK  3rd year    CSE   Feb-20  35.0
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [26]:
csv.fillna(method="bfill" , axis=1)

        Time                       Name      Year Branch    Score  Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year     AI  16 / 20   1.0
1   20:51:13      Shreya Ravindra Tiple  2nd year     AI  15 / 20   2.0
2   21:00:53               Sahil Gedam   3rd year     IT  15 / 20   3.0
3   21:00:43                Akash Bitle  3rd year     IT  14 / 20   4.0
4   20:40:01           Dewank Bawankar   3rd year     AI  13 / 20   5.0
5   20:53:06         Bhairavi Kelwadkar  3rd year    CSE  13 / 20   6.0
6   21:00:00     Abhay Vinod Sonkusare   2nd year     IT  13 / 20   7.0
7   21:00:21             Shreyash Hore   2nd year    CSE  13 / 20   8.0
8   21:06:03          Prashant Chachere  4th year    CSE  13 / 20   9.0
9   20:48:38               Athira Nair   3rd year    CSE   Dec-20  10.0
10  20:58:20         Ganesh Rahangdale   3rd year     IT   Nov-20  11.0
11  20:41:13         Akhilesh Titarmare  3rd year    CSE   Oct-20  12.0
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year    CSE   Oct-20   NaN
13  20:46:43              Nikhil Charde  4th year    CSE   Oct-20  14.0
14  20:48:23                Komal Shahu  3rd year     AI   Oct-20  15.0
15  20:52:28             Chhavi Padigel  2nd year     AI   Oct-20  16.0
16  20:56:28                Komal Koli   2nd year     AI   Oct-20  17.0
17  20:57:19        Diksha Manoj Kamble  3rd year     AI   Oct-20   NaN
18  21:03:39        Shreyas Khobragade   2nd year    CSE   Sep-20  19.0
19  21:05:36   Shweta Someshwar Bawane   3rd year     AI   Sep-20  20.0
20  20:38:32              Punam Ambule   2nd year    CSE   Aug-20   NaN
21  20:39:09       Pournima Y Tembhare   2nd year    CSE   Aug-20  22.0
22  20:41:13          Jayesh Gotephode   3rd year    CSE   Aug-20  23.0
23  20:52:34    Kunal Tamraj Harinkhede  3rd year    CSE   Aug-20  24.0
24  20:48:03           Bhumeshwar Katre  2nd year     AI   Jul-20  25.0
25  20:49:16           Prajwal Pakhale   2nd year    CSE   Jul-20   NaN
26  20:43:23               Shreya ukey   2nd year     AI   Jun-20  27.0
27  20:44:48              Nikhil Surkar  3rd year    CSE   Jun-20  28.0
28  20:46:03            Sachin Meshram   3rd year    CSE   May-20  29.0
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year    CSE   May-20  30.0
30  20:45:36    Ritik Fulchand Rajgire   3rd year    CSE   Apr-20  31.0
31       NaN                        NaN       NaN    NaN      NaN   NaN
32  21:00:28               Yash Dharmik  2nd year    CSE   Apr-20  33.0
33  20:45:22                        SAK  3rd year    CSE   Feb-20   NaN
34  21:03:29      Ritik Kishor Gulhane   3rd year    CSE   0 / 20  35.0

In [33]:
csv.fillna( 12,inplace=True)
csv

In [34]:
csv = pd.read_csv("E:\\learing code\\Data Science\\pandas\\record.csv" )

csv.fillna("python", limit=2)

        Time                       Name      Year  Branch    Score    Rank
0   20:53:27       Omkar Eknath Vaidya   3rd year      AI  16 / 20     1.0
1   20:51:13      Shreya Ravindra Tiple  2nd year      AI  15 / 20     2.0
2   21:00:53               Sahil Gedam   3rd year      IT  15 / 20     3.0
3   21:00:43                Akash Bitle  3rd year      IT  14 / 20     4.0
4   20:40:01           Dewank Bawankar   3rd year      AI  13 / 20     5.0
5   20:53:06         Bhairavi Kelwadkar  3rd year     CSE  13 / 20     6.0
6   21:00:00     Abhay Vinod Sonkusare   2nd year      IT  13 / 20     7.0
7   21:00:21             Shreyash Hore   2nd year     CSE  13 / 20     8.0
8   21:06:03          Prashant Chachere  4th year     CSE  13 / 20     9.0
9   20:48:38               Athira Nair   3rd year     CSE   Dec-20    10.0
10  20:58:20         Ganesh Rahangdale   3rd year      IT   Nov-20    11.0
11  20:41:13         Akhilesh Titarmare  3rd year     CSE   Oct-20    12.0
12  20:43:26  Harsh Dnyaneshwar Lonare   3rd year     CSE   Oct-20  python
13  20:46:43              Nikhil Charde  4th year     CSE   Oct-20    14.0
14  20:48:23                Komal Shahu  3rd year      AI   Oct-20    15.0
15  20:52:28             Chhavi Padigel  2nd year      AI   Oct-20    16.0
16  20:56:28                Komal Koli   2nd year      AI   Oct-20    17.0
17  20:57:19        Diksha Manoj Kamble  3rd year      AI   Oct-20  python
18  21:03:39        Shreyas Khobragade   2nd year     CSE   Sep-20    19.0
19  21:05:36   Shweta Someshwar Bawane   3rd year      AI   Sep-20    20.0
20  20:38:32              Punam Ambule   2nd year     CSE   Aug-20     NaN
21  20:39:09       Pournima Y Tembhare   2nd year     CSE   Aug-20    22.0
22  20:41:13          Jayesh Gotephode   3rd year     CSE   Aug-20    23.0
23  20:52:34    Kunal Tamraj Harinkhede  3rd year     CSE   Aug-20    24.0
24  20:48:03           Bhumeshwar Katre  2nd year      AI   Jul-20    25.0
25  20:49:16           Prajwal Pakhale   2nd year     CSE   Jul-20     NaN
26  20:43:23               Shreya ukey   2nd year      AI   Jun-20    27.0
27  20:44:48              Nikhil Surkar  3rd year     CSE   Jun-20    28.0
28  20:46:03            Sachin Meshram   3rd year     CSE   May-20    29.0
29  20:49:24     ABHISHEK PRAKASH PATLE  3rd year     CSE   May-20    30.0
30  20:45:36    Ritik Fulchand Rajgire   3rd year     CSE   Apr-20    31.0
31    python                     python    python  python   python     NaN
32  21:00:28               Yash Dharmik  2nd year     CSE   Apr-20    33.0
33  20:45:22                        SAK  3rd year     CSE   Feb-20     NaN
34  21:03:29      Ritik Kishor Gulhane   3rd year     CSE   0 / 20    35.0