# Join

In [20]:
import pandas as pd 
a= pd.DataFrame({"A":[1,2,3,4] ,"B":[11,12,13,14]} ,index=['a','b','c','d'])
b= pd.DataFrame({"C":[1,2,3,],"D":[11,12,13]},index=['a','b','c'])
a.join(b ,how="inner")

   A   B  C   D
a  1  11  1  11
b  2  12  2  12
c  3  13  3  13

In [21]:
import pandas as pd 
a= pd.DataFrame({"A":[1,2,3,4] ,"B":[11,12,13,14]} ,index=['a','b','c','d'])
b= pd.DataFrame({"C":[1,2,3,],"B":[11,12,13]},index=['a','b','c'])
a.join(b ,how="outer", lsuffix="_12" , rsuffix="_123")

   A  B_12    C  B_123
a  1    11  1.0   11.0
b  2    12  2.0   12.0
c  3    13  3.0   13.0
d  4    14  NaN    NaN